// Place all the styles related to the private/job_estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job_estimate {
  .quantity input, .rate input, .amount input, tfoot th { text-align: right; }
}

.details-container {
  position: relative;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 0 6px #ccc;
  box-shadow: 0 0 6px #ccc;
  font-family: sans-serif;
}

.estimate {
  font-size: 9pt;
  color: #333333;
  background: #ffffff;
  font-family: sans-serif;
}

.estimate-body {
  padding: 0 0.40in 0 0.55in;
}

.estimate-footer {
  height: 0.70in;
  font-size: 6pt;
  color: #aaaaaa;
  padding: 0 0.40in 0 0.55in;
  background-color: #ffffff;
}

.est-label {
  color: #817d7d;
}

.est-entity-title {
  font-size: 28pt;
  color: #000000;
  font-family: sans-serif;
}

.est-orgname {
  font-size: 10pt;
  color: #333333;
}

.est-customer-name {
  font-size: 9pt;
  color: #333333;
}

.est-itemtable-header {
  font-size: 9pt;
  color: #ffffff;
  background-color: #3c3d3a;
}

.est-taxtable-header {
  font-size: 9pt;
  color: #000;
  background-color: #f5f4f3;
}

.est-item-row {
  font-size: 10pt;
  border-bottom: 1px solid #e3e3e3;
  background-color: #ffffff;
  color: #000000;
}

.est-item-desc {
  color: #727272;
  font-size: 10pt;
}

.est-balance {
  background-color: #f5f4f3;
  font-size: 11pt;
  color: #000000;
}

.est-totals {
  font-size: 11pt;
  color: #000000;
  background-color: #ffffff;
}

.est-notes {
  font-size: 10pt;
}

.est-terms {
  font-size: 10pt;
}

.estimate-header {
  padding: 0 0.40in 0 0.55in;
  height: 0.30in;
}

.estimate-content {
  font-size: 9pt;
  color: #333333;
  background-color: #ffffff;
}

table.estimate-no-border tr td {
  border-right: none;
  border-bottom: none;
}

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#B6BAC9 0%, #808080 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}

.ribbon.accepted span{
  background: linear-gradient(#63C35C 0%, rgb(7, 82, 19) 100%);
}

.ribbon.declined span{
   background: linear-gradient(#D2603F 0%, rgb(207, 6, 6) 100%);
}


.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #808080;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #808080;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.preview_estimate{
  margin-bottom: 200px;
}
tr.selected{
  background-color: #f5f5f5;
}

// estimate preview styles generated from inline styles
#div_1bbd_0{display:table;width:100%;}
#div_1bbd_1{float:left;width:50%;}
#tmp_org_address{white-space: pre-wrap;}
#div_1bbd_2{float:right;width:50%;text-align:right;}
#tmp_entity_number{font-size: 10pt;}
#table_1bbd_0{width:100%;margin-top:30px;table-layout:fixed;}
#td_1bbd_0{width:60%;vertical-align:bottom;word-wrap: break-word; border: none;}
#tmp_billing_address_label{font-size: 10pt;}
#td_1bbd_1{vertical-align:bottom;width: 40%;}
#table_1bbd_1{float:right;table-layout: fixed;word-wrap: break-word;width: 100%;}
#td_1bbd_2{text-align:right;padding:5px 10px 5px 0px;font-size:10pt;}
#td_1bbd_3{text-align:right;}
#td_1bbd_4{text-align:right;padding:5px 10px 5px 0px;font-size: 10pt;}
#td_1bbd_5{text-align:right;}
#td_1bbd_6{text-align:right;padding:5px 10px 5px 0px;font-size: 10pt;}
#td_1bbd_7{text-align:right;}
#table_1bbd_2{width:100%;margin-top:20px;table-layout:fixed;}
#tr_1bbd_0{height:32px;}
#td_1bbd_8{padding:5px 0 5px 5px;text-align: center;word-wrap: break-word;width: 5%;}
#td_1bbd_9{padding:5px 10px 5px 10px;word-wrap: break-word;}
#td_1bbd_10{padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%; text-align: right;}
#td_1bbd_11{padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%; text-align: right;}
#td_1bbd_12{padding:5px 10px 5px 5px;word-wrap: break-word;width:120px; text-align: right;}
#td_1bbd_13{padding: 10px 0 10px 5px;text-align: center;word-wrap: break-word;border-bottom: 1px solid #e3e3e3;}
#td_1bbd_14{padding: 10px 0px 10px 10px;border-bottom: 1px solid #e3e3e3;}
#span_1bbd_0{white-space: pre-wrap;word-wrap: break-word;}
#td_1bbd_15{padding: 10px 10px 5px 10px;text-align:right;word-wrap: break-word;border-bottom: 1px solid #e3e3e3;}
#td_1bbd_16{padding: 10px 10px 5px 10px;text-align:right;word-wrap: break-word;border-bottom: 1px solid #e3e3e3;}
#td_1bbd_17{text-align:right;padding: 10px 10px 10px 5px;word-wrap: break-word;border-bottom: 1px solid #e3e3e3;}
#div_1bbd_3{width: 100%;margin-top: 1px;}
#div_1bbd_4{width: 45%;padding: 3px 10px 3px 3px;font-size: 9pt;float: left;}
#div_1bbd_5{white-space: pre-wrap;}
#div_1bbd_6{width: 50%;float:right;}
#td_1bbd_18{padding: 5px 10px 5px 0; text-align: right;}
#tmp_subtotal{width:120px;padding: 10px 10px 10px 5px; text-align: right;}
#td_1bbd_19{padding: 5px 10px 5px 0; text-align: right;}
#td_1bbd_20{width:120px;padding: 10px 10px 10px 5px; text-align: right;}
#tr_1bbd_1{height:10px;}
#td_1bbd_21{padding: 5px 10px 5px 0; text-align: right;}
#td_1bbd_22{width:120px;padding: 10px 10px 10px 5px; text-align: right;}
#tr_1bbd_2{height:40px;}
#td_1bbd_23{padding: 5px 10px 5px 0; text-align: right;}
#tmp_total{width:120px;;padding: 10px 10px 10px 5px; text-align: right;}
#div_1bbd_7{clear: both;}
#div_1bbd_8{clear:both;margin-top:50px;width:100%;}
#tmp_notes_label{font-size: 10pt;}
#p_1bbd_0{margin-top:7px;white-space: pre-wrap;word-wrap: break-word;}
#div_1bbd_9{clear:both;margin-top:30px;width:100%;}
#tmp_terms_label{font-size: 10pt;}
#p_1bbd_1{margin-top:7px;white-space: pre-wrap;word-wrap: break-word;}

