// Place all the styles related to the private/job_estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job_estimate {
  .quantity input, .rate input, .amount input, tfoot th { text-align: right; }
}

.details-container {
  position: relative;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 0 6px #ccc;
  box-shadow: 0 0 6px #ccc;
}

.estimate {
  font-family: Open Sans;
  font-size: 9pt;
  color: #333333;
  background: #ffffff;
}

.estimate-body {
  padding: 0 0.40in 0 0.55in;
}

.estimate-footer {
  height: 0.70in;
  font-size: 6pt;
  color: #aaaaaa;
  padding: 0 0.40in 0 0.55in;
  background-color: #ffffff;
}

.est-label {
  color: #817d7d;
}

.est-entity-title {
  font-size: 28pt;
  color: #000000;
}

.est-orgname {
  font-size: 10pt;
  color: #333333;
}

.est-customer-name {
  font-size: 9pt;
  color: #333333;
}

.est-itemtable-header {
  font-size: 9pt;
  color: #ffffff;
  background-color: #3c3d3a;
}

.est-taxtable-header {
  font-size: 9pt;
  color: #000;
  background-color: #f5f4f3;
}

.est-item-row {
  font-size: 10pt;
  border-bottom: 1px solid #e3e3e3;
  background-color: #ffffff;
  color: #000000;
}

.est-item-desc {
  color: #727272;
  font-size: 10pt;
}

.est-balance {
  background-color: #f5f4f3;
  font-size: 11pt;
  color: #000000;
}

.est-totals {
  font-size: 11pt;
  color: #000000;
  background-color: #ffffff;
}

.est-notes {
  font-size: 10pt;
}

.est-terms {
  font-size: 10pt;
}

.estimate-header {
  padding: 0 0.40in 0 0.55in;
  height: 0.30in;
}

.estimate-content {
  font-size: 9pt;
  color: #333333;
  background-color: #ffffff;
}

table.estimate-no-border tr td {
  border-right: none;
  border-bottom: none;
}

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#B6BAC9 0%, #808080 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #808080;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #808080;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.preview_estimate{
  margin-bottom: 200px;
}
